# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.iniru

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.log
*.sqlite3

# Virtual environments
venv/
env/
.venv/
.env/

# Jupyter
.ipynb_checkpoints/

# Data and models (optional)
data/processed/
models/
*.csv
*.tsv
*.json

# VSCode
.vscode/

# OS or temporary files
*.tmp
*.bak
*.swp

